<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Busoo</title>


<!-- 高德地图 -->
 <script src="http://webapi.amap.com/maps?v=1.3&key=65da68cb883b3138051a72b783e033e3&plugin=AMap.Driving,AMap.Scale,AMap.OverView,AMap.ToolBar"></script>  


  <!-- Porlet CSS -->
  <link href="../css/components.min.css" rel="stylesheet">
  <link href="../css/plugins.min.css" rel="stylesheet">

<!-- iziModal -->
  <link rel="stylesheet" type="text/css" href="../css/iziModal.min.css" />

  <!--common-->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/style-responsive.css" rel="stylesheet">



  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../js/html5shiv.js"></script>
  <script src="../js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header" onLoad="mapInit()">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index2.html"><img src="../images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index2.html"><img src="../images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="../images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">高铭</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="../index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li><a href="linestatus.html"><i class="fa fa-road"></i> <span>线路状态</span></a></li>
                <li class="menu-list active"><a href=""><i class="fa fa-eraser"></i> <span>线路信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="station.html"> 站点管理</a></li>
                        <li><a href="line.html"> 线路管理</a></li>
                        <li class="active"><a href="addline-1.html"> 新增线路</a></li>
                        <li><a href="updateline-1.html"> 线路优化</a></li>
                        <li><a href="riderate.html"> 乘坐率</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-truck"></i> <span>车辆信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="businfo.html"> 车辆信息</a></li>
                        <li><a href="oil_view.html"> 燃油记录</a></li>
                        <li><a href="accident_view.html"> 事故记录</a></li>
                        <li><a href="fault_view.html"> 故障记录</a></li>
                        <li><a href="repair_view.html"> 维修记录</a></li>

                    </ul>
                </li>
                <li><a href="employee.html"><i class="fa fa-users"></i> <span>员工信息管理</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-user-md"></i> <span>司机管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="driver.html"> 司机信息管理</a></li>
                        <li><a href="dutyroaster.html"> 司机排班</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>管理员管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="administrators.html"> 管理员管理</a></li>
                        <li><a href="power.html"> 角色管理</a></li>
                    </ul>
                </li>     
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="../index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="搜索" />
            </form>
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">你有4封邮件 </h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user1.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">郭伟宇 <span class="badge badge-success">new</span></span>
                                          <span class="msg">司机发来的故障信息...</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user2.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">黄振</span>
                                          <span class="msg">司机发来的维修消息...</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user3.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">陈孝则</span>
                                          <span class="msg">司机发来的事故消息...</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="thumb"><img src="../images/photos/user4.png" alt="" /></span>
                                        <span class="desc">
                                          <span class="name">李霖</span>
                                          <span class="msg">司机发来的故障消息...</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">消息</h5>
                            <ul class="dropdown-list normal-list">
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name"> 韩雪乘客的投诉消息 </span>
                                        <em class="small">34 分钟前</em>
                                    </a>
                                </li>
                                <li class="new">
                                    <a href="">
                                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                        <span class="name">王仁鑫乘客的投诉消息  </span>
                                        <em class="small">1 小时前</em>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="../images/photos/user-avatar.png" alt="" />
                            高铭
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>  个人信息</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>  设置</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> 退出登录</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
 
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit ">
 
                        <div class="portlet-body">
                            <div class="mt-element-step">
                                <div class="row step-background">
                                    <div class="col-md-3 bg-grey-steel mt-step-col">
                                        <div class="mt-step-number">1</div>
                                        <div class="mt-step-title uppercase font-grey-cascade">员工地址表</div>
                                        <div class="mt-step-content font-grey-cascade" style="margin-top:5px">导入坐标到地图</div>
                                    </div>
                                    <div class="col-md-3 bg-grey-steel mt-step-col">
                                        <div class="mt-step-number">2</div>
                                        <div class="mt-step-title uppercase font-grey-cascade">地址生成站点</div>
                                        <div class="mt-step-content font-grey-cascade" style="margin-top:5px">聚合算法最佳站点</div>
                                    </div>
                                    <div class="col-md-3 bg-grey-steel mt-step-col active">
                                        <div class="mt-step-number">3</div>
                                        <div class="mt-step-title uppercase font-grey-cascade">站点生成线路</div>
                                        <div class="mt-step-content font-grey-cascade" style="margin-top:5px">最佳路线匹配</div>
                                    </div>
                                    <div class="col-md-3 bg-grey-steel mt-step-col">
                                        <div class="mt-step-number">4</div>
                                        <div class="mt-step-title uppercase font-grey-cascade">最终线路调整</div>
                                        <div class="mt-step-content font-grey-cascade" style="margin-top:5px">手动调整线路数</div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding: 0">
                                    <section class="panel" style="margin: 0px;padding: 0">
                                        <div class="panel-body">
                                            <div id="map" class="gmaps" style="height:430px">
                                                <div id="panel"></div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="panel">
                                        <header class="panel-heading">
                                            站点表
                                            <span class="tools pull-right">
                                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                                <a href="javascript:;" class="fa fa-times"></a>
                                             </span>
                                        </header>
                                        <div class="panel-body">

                                            <div class="editable-table ">
                                              <div class="cover" style="background-color: #fff;color:#7b7b7b;position: absolute;top: 522px;left:90px;width:200px;height:20px;z-index: 9">选择显示个数</div>
                                              <div class="cover" style="background-color: #fff;color:#7b7b7b;position: absolute;top: 522px;left:624px;width:60px;height:20px;z-index: 9">搜索：</div>
                                                <table class="table table-striped table-hover" id="editable-sample">
                                                    <thead>
                                                    <tr>
                                                        <th>站点编号</th>
                                                        <th>所在线路</th>
                                                        <th>应乘人员</th>
                                                        <th>最佳位置</th>
                                                        <th>推荐位置</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="">
                                                        <td>001</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>四川省成都市成华区保和街道邓家老房子</td>
                                                        <td>邓家老房子(成华区)</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>002</td>
                                                        <td>1号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>四川省成都市成华区建设路街道建设路29号西苑</td>
                                                        <td>中国银行(成都建设路支行)(建设路14号建设巷电子科大学生公寓2幢13-14号)</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>003</td>
                                                        <td>1号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>四川省成都市武侯区火车南站街道航空路49号彩虹苑</td>
                                                        <td>瑞熙城市酒店(科华中路139)</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>004</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>四川省成都市武侯区浆洗街街道成都武侯祠博物馆</td>
                                                        <td>成都武侯祠博物馆(武侯祠大街231号)</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>005</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>四川省成都市武侯区火车南站街道航空路49号彩虹苑</td>
                                                        <td>瑞熙城市酒店(科华中路139)</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>011</td>
                                                        <td>2号线</td>
                                                        <td>
                                                            <a href="javascript:void(0)"  class="trigger-people">查看</a>        
                                                        </td>
                                                        <td>大梁山站</td>
                                                        <td>大梁山路北站</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> 
                                    </section>           
                                </div>
                                <div class="station-create">
                                    <a href="addline-4.html" style="color:#2ab4c0;background-color: #fff;border-color: #2ab4c0;font-size:22px;width:100%;margin-bottom:20px;line-height: 2" class="btn btn-primary" onmouseout=changeColor(this,2) onmouseover=changeColor(this,1) >点击生成线路</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-people" class="modal-default">
            <div class="row">
                <div class="col-md-4">
                    <div class="left">应乘人数：6</div> 
                </div>
                <div class="col-md-8">
                    <div class="right">应乘人员：<span>李霖</span>,<span>郭伟宇</span>,<span>黄振</span>,<span>高铭</span>,<span>王仁鑫</span></div>
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer>
            2016 &copy; Busoo by NiHoo
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/jquery.nicescroll.js"></script>

<script type="text/javascript" src="../js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/data-tables/DT_bootstrap.js"></script>
<script src="../js/editable-table.js"></script>

<!--common scripts for all pages-->
<script src="../js/scripts.js"></script>
<script src="../js/linestatus3.js"></script>

<!--iziModal动态弹窗-->
<script src="../js/iziModal.min.js"></script>

<script>
    function changeColor(obj,m){
        if(m == 1){
            obj.style.color = "#fff";
            obj.style.backgroundColor = "#2ab4c0";
            // obj.style.borderColor = "#fff";
        }
        else if(m == 2){
            obj.style.color = "#2ab4c0";
            obj.style.backgroundColor = "#fff";
            // obj.style.borderColor = "#65cea7";
        }
    }
    jQuery(document).ready(function() {
       
        EditableTable2.init();
        $("#modal").iziModal();
        $("#modal-people").iziModal({
            title: "此站 应乘人员",
            subtitle: "所属线路：二号线",
            iconClass: 'icon-announcement',
            width: 700,
            padding: 20
        });
        $(document).on('click', '.trigger-people', function (event) {
            event.preventDefault();
            $('#modal-people').iziModal('open');
        });

        
    });
</script>

</body>
</html>
